<body>
	<!-- Découpage boostrap avec la fonctionnalité row -->
    <div class="row">
		 <!-- Découpage partie gauche (5/12 de la  page)-->
		<div class="col-5 right_part">
			<!-- Bouton de menu -->
			<a class="home-btn" href="/">< Home </a>
            <a class="home-btn2" href="./help">< Aide</a>
			 <!-- Zone de texte principale -->
			<div class="helptext">
			<label> > Vous pouvez nous contacter en cliquant <a href="mailto:magne.e1903574@etud.univ-ubs.fr,nouzille.e1902577@etud.univ-ubs.fr"> ici ! </a></label><br>
		</div>
		</div>
		<!-- Découpage partie droite (7/12) de la page -->
		<div class="col-7 left_part">
			<img src="../assets/img/mail.png" class="helpimage">
		</div>
	</div>
</body>


